In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.svm import SVR
from sklearn.cluster import DBSCAN

In [2]:
df = pd.read_csv('data/Socioeconomic Data/Socioeconomic determinants/socioeconomic determinant for state.csv')
df_2 = pd.read_csv('data/csse_covid_19_daily_reports_us/12-31-2020.csv')
unemp_covid_df = pd.read_csv('data/yun_data/output/unemployment_covid_2020.csv')
covid_df = pd.read_csv('data/yun_data/output/covid_monthly_2020.csv')
df3 = pd.read_csv('data/yun_data/output/unemp_rate_2020.csv')
df4 = pd.read_csv('data/yun_data/output/cov_unemp_summary.csv')
df5 = pd.read_csv('data/yun_data/output/covid_socio_2020.csv')

In [3]:
blah=pd.DataFrame(df5[['Median household income', 'Poverty rate', 'hospital', 
                       'White Population', 'Africa-American Population',
                       'Hispanic population', 'Deaths',
                       'Case_Fatality_Ratio', 'deaths_per_population',
                      'confirmed_per_population', 'Population size']])

In [5]:
df5.head()

,Name,Postal Code,Area size,Population size,Population density,Senior Population,Young Population,Male Population,White Population,Africa-American Population,...,Active,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,deaths_per_population,recovered_per_population,confirmed_per_population,active_per_population,unemp_year_rate
0,Alabama,AL,135767,4903185,36.114704,17.4,18.3,48.3,69.5,27.8,...,154262.0,7367.170523,1874000.0,1.336283,38220.054923,0.000984,0.041226,0.073672,0.031462,6.13
1,Alaska,AK,1723337,731545,0.424493,12.4,21.0,52.0,71.4,4.7,...,39615.0,6422.844801,1275750.0,0.438428,174391.185778,0.000282,0.009794,0.064228,0.054153,8.32
2,Arizona,AZ,295234,7278717,24.654061,18.0,18.7,49.7,81.7,6.0,...,435362.0,7146.960103,2834752.0,1.703937,38945.764755,0.001218,0.010439,0.071470,0.059813,7.83
3,Arkansas,AR,137732,3017804,21.910696,17.4,19.2,48.9,79.3,16.7,...,22215.0,7460.325455,2051488.0,1.632776,67979.497674,0.001218,0.066024,0.074603,0.007361,6.58
4,California,CA,423967,39512223,93.196459,14.8,18.7,49.7,63.6,7.0,...,2265110.0,5798.223502,32855482.0,1.130376,83152.704418,0.000658,0.000873,0.058858,0.057327,10.24

In [6]:
ss = StandardScaler()
X_blah = ss.fit_transform(blah)

In [7]:
dbscan = DBSCAN(eps=2.1, min_samples=3)
dbscan.fit(X_blah)
blah['cluster'] = dbscan.labels_

In [8]:
blah.groupby('cluster').mean().T.drop(columns=-1)

cluster                                0             1
Median household income     6.263212e+04  8.347567e+04
Poverty rate                1.200882e+01  9.533333e+00
hospital                    1.127647e+02  8.300000e+01
White Population            8.300588e+01  7.583333e+01
Africa-American Population  1.085882e+01  1.273333e+01
Hispanic population         8.102941e+00  1.673333e+01
Deaths                      4.650206e+03  1.248667e+04
Case_Fatality_Ratio         1.370678e+00  3.509479e+00
deaths_per_population       8.849194e-04  1.875908e-03
confirmed_per_population    6.614094e-02  5.536033e-02
Population size             4.964504e+06  6.446660e+06

In [ ]:
sns.pairplot(blah, hue='cluster');