### Import

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
plt.style.use('ggplot') 

from sklearn.preprocessing import StandardScaler
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances

from sklearn.cluster import KMeans, k_means
from sklearn.metrics import silhouette_score

### Load Data

In [59]:
dmf = pd.read_csv('data/yun_data/output/covid_socio_2020.csv')
unemp_covid_df = pd.read_csv('data/yun_data/output/unemployment_covid_2020.csv')
covid_df = pd.read_csv('data/yun_data/output/covid_monthly_2020.csv')
df3 = pd.read_csv('data/yun_data/output/unemp_rate_2020.csv')
df4 = pd.read_csv('data/yun_data/output/cov_unemp_summary.csv')

### Modeling :

In [60]:
dmf.columns

Index(['Name', 'Postal Code', 'Area size', 'Population size',
       'Population density', 'Senior Population', 'Young Population',
       'Male Population', 'White Population', 'Africa-American Population',
       'Hispanic population', 'Internet access', 'High school degree',
       'Bachelor degrees', 'Median household income', 'Poverty rate',
       'Uninsured', 'Household size', 'House Owner', 'hospital',
       'hospital bed', 'ICU bed', 'ventilator usage', 'Nurses',
       'Medical Doctors', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Incident_Rate', 'Total_Test_Results', 'Case_Fatality_Ratio',
       'Testing_Rate', 'deaths_per_population', 'recovered_per_population',
       'confirmed_per_population', 'active_per_population', 'unemp_year_rate'],
      dtype='object')

### Clustering Kmeans -  n_clusters = 2

In [61]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=2)
model.fit(X)

# Get the labels and centroids for our first clustering model
k2_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k3_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [0 0 2 0 1 2 0 0 0 1 2 0 0 2 2 0 0 0 0 0 2 2 2 2 0 2 0 0 0 0 2 0 1 2 0 2 0
 0 2 0 0 0 2 1 0 0 2 2 0 2 0]
Location of centroids:
[[1.78771936e+05 4.65532172e+06 1.46512480e+02 1.69382979e+01
  1.83489362e+01 4.93872340e+01 7.91425532e+01 1.26617021e+01
  1.05787234e+01 8.59574468e+01 9.53191489e+00 2.00191489e+01
  6.52184681e+04 1.21191489e+01 8.16808511e+00 2.63468085e+00
  6.64021277e+01 1.02425532e+02 1.43016809e+04 1.35125532e+03
  3.49000000e+02 7.39837660e+04 6.59652553e+04 2.88822638e+05
  4.93212766e+03 1.35527255e+05 1.48363255e+05 6.33945657e+03
  3.40721226e+06 1.62687641e+00 8.06097097e+04 9.97334004e-04
  3.40144394e-02 6.35182387e-02 2.85064653e-02 7.45425532e+00]
 [3.57809500e+05 2.73598505e+07 9.96660367e+01 1.63750000e+01
  1.83750000e+01 4.92000000e+01 7.06000000e+01 1.39250000e+01
  3.12000000e+01 8.74750000e+01 1.38500000e+01 2.06000000e+01
  6.89522500e+04 1.27750000e+01 1.11250000e+01 2.84750000e+00
  5.91250000e+01 3.95750000e+02 6.99370000e+04 6.95800000e+03
  1.68875000e+03 3.64235500e+05 3.87718000e+05 1.60012025e+06
  2.84270000e+04 3.91497000e+05 1.18019625e+06 5.77062954e+03
  2.18967800e+07 2.05771264e+00 8.34103092e+04 1.14679698e-03
  1.38545625e-02 5.79810085e-02 4.29796490e-02 8.87750000e+00]]

In [62]:
#create third column
dmf['k2_labels'] = k2_labels

dmf.k2_labels.value_counts()

0    47
1     4
Name: k2_labels, dtype: int64

In [80]:
# Compute the silouette score and visually examine the results.
round(silhouette_score(X, k2_labels),2)

0.78

### Clustering Kmeans -  n_clusters = 3

In [64]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=3)
model.fit(X)

# Get the labels and centroids for our first clustering model
k3_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k3_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [0 0 2 0 1 2 0 0 0 1 2 0 0 2 2 0 0 0 0 0 2 2 2 2 0 2 0 0 0 0 2 0 1 2 0 2 0
 0 2 0 0 0 2 1 0 0 2 2 0 2 0]
Location of centroids:
[[1.98343517e+05 2.35778352e+06 1.78773416e+02 1.71482759e+01
  1.84344828e+01 4.95206897e+01 8.00655172e+01 1.12931034e+01
  1.01034483e+01 8.53000000e+01 9.51379310e+00 1.93724138e+01
  6.31920690e+04 1.25827586e+01 8.39655172e+00 2.63344828e+00
  6.63724138e+01 7.28965517e+01 8.04344828e+03 7.56793103e+02
  1.90103448e+02 3.88054483e+04 3.37656897e+04 1.53844621e+05
  2.27851724e+03 8.49778966e+04 6.65882069e+04 6.47794551e+03
  1.70489724e+06 1.50232907e+00 8.34671477e+04 9.39972926e-04
  3.81347037e-02 6.47767564e-02 2.57020797e-02 7.37517241e+00
  1.38777878e-17]
 [3.57809500e+05 2.73598505e+07 9.96660367e+01 1.63750000e+01
  1.83750000e+01 4.92000000e+01 7.06000000e+01 1.39250000e+01
  3.12000000e+01 8.74750000e+01 1.38500000e+01 2.06000000e+01
  6.89522500e+04 1.27750000e+01 1.11250000e+01 2.84750000e+00
  5.91250000e+01 3.95750000e+02 6.99370000e+04 6.95800000e+03
  1.68875000e+03 3.64235500e+05 3.87718000e+05 1.60012025e+06
  2.84270000e+04 3.91497000e+05 1.18019625e+06 5.77062954e+03
  2.18967800e+07 2.05771264e+00 8.34103092e+04 1.14679698e-03
  1.38545625e-02 5.79810085e-02 4.29796490e-02 8.87750000e+00
  1.00000000e+00]
 [1.47239944e+05 8.35691106e+06 9.45365275e+01 1.66000000e+01
  1.82111111e+01 4.91722222e+01 7.76555556e+01 1.48666667e+01
  1.13444444e+01 8.70166667e+01 9.56111111e+00 2.10611111e+01
  6.84832222e+04 1.13722222e+01 7.80000000e+00 2.63666667e+00
  6.64500000e+01 1.50000000e+02 2.43843889e+04 2.30900000e+03
  6.05000000e+02 1.30659944e+05 1.17842333e+05 5.06287222e+05
  9.20738889e+03 2.16967889e+05 2.80111944e+05 6.11633549e+03
  6.14983089e+06 1.82753601e+00 7.60060595e+04 1.08974907e-03
  2.73762357e-02 6.14906268e-02 3.30246420e-02 7.58166667e+00
  4.16333634e-17]]

In [65]:
#create third column
dmf['k3_labels'] = k3_labels
dmf.k3_labels.value_counts()

0    29
2    18
1     4
Name: k3_labels, dtype: int64

In [81]:
# Compute the silouette score and visually examine the results of the 8 clusters.
round(silhouette_score(X, k3_labels),2)

0.55

### Clustering Kmeans -  n_clusters = 4

In [67]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=4)
model.fit(X)

# Get the labels and centroids for our first clustering model
k4_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k4_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [2 2 0 2 3 0 2 2 2 1 0 2 2 0 0 2 2 2 2 2 0 0 0 0 2 0 2 2 2 2 0 2 1 0 2 0 2
 2 0 2 2 2 0 1 2 2 0 0 2 0 2]
Location of centroids:
[[ 1.47239944e+05  8.35691106e+06  9.45365275e+01  1.66000000e+01
   1.82111111e+01  4.91722222e+01  7.76555556e+01  1.48666667e+01
   1.13444444e+01  8.70166667e+01  9.56111111e+00  2.10611111e+01
   6.84832222e+04  1.13722222e+01  7.80000000e+00  2.63666667e+00
   6.64500000e+01  1.50000000e+02  2.43843889e+04  2.30900000e+03
   6.05000000e+02  1.30659944e+05  1.17842333e+05  5.06287222e+05
   9.20738889e+03  2.16967889e+05  2.80111944e+05  6.11633549e+03
   6.14983089e+06  1.82753601e+00  7.60060595e+04  1.08974907e-03
   2.73762357e-02  6.14906268e-02  3.30246420e-02  7.58166667e+00
   4.16333634e-17  2.00000000e+00]
 [ 3.35757000e+05  2.33090597e+07  1.01822563e+02  1.69000000e+01
   1.82666667e+01  4.90333333e+01  7.29333333e+01  1.62333333e+01
   2.84666667e+01  8.66333333e+01  1.31333333e+01  2.01666667e+01
   6.51230000e+04  1.31000000e+01  1.22666667e+01  2.79000000e+00
   6.05333333e+01  3.74000000e+02  6.62850000e+04  6.39333333e+03
   1.58966667e+03  3.37326000e+05  3.20940000e+05  1.35829400e+06
   2.92406667e+04  5.10495000e+05  8.18558333e+05  5.76143155e+03
   1.82438793e+07  2.36682475e+00  8.34961774e+04  1.30983933e-03
   1.81816756e-02  5.76887744e-02  3.81972595e-02  8.42333333e+00
   1.00000000e+00  1.00000000e+00]
 [ 1.98343517e+05  2.35778352e+06  1.78773416e+02  1.71482759e+01
   1.84344828e+01  4.95206897e+01  8.00655172e+01  1.12931034e+01
   1.01034483e+01  8.53000000e+01  9.51379310e+00  1.93724138e+01
   6.31920690e+04  1.25827586e+01  8.39655172e+00  2.63344828e+00
   6.63724138e+01  7.28965517e+01  8.04344828e+03  7.56793103e+02
   1.90103448e+02  3.88054483e+04  3.37656897e+04  1.53844621e+05
   2.27851724e+03  8.49778966e+04  6.65882069e+04  6.47794551e+03
   1.70489724e+06  1.50232907e+00  8.34671477e+04  9.39972926e-04
   3.81347037e-02  6.47767564e-02  2.57020797e-02  7.37517241e+00
   1.38777878e-17 -4.44089210e-16]
 [ 4.23967000e+05  3.95122230e+07  9.31964587e+01  1.48000000e+01
   1.87000000e+01  4.97000000e+01  6.36000000e+01  7.00000000e+00
   3.94000000e+01  9.00000000e+01  1.60000000e+01  2.19000000e+01
   8.04400000e+04  1.18000000e+01  7.70000000e+00  3.02000000e+00
   5.49000000e+01  4.61000000e+02  8.08930000e+04  8.65200000e+03
   1.98600000e+03  4.44964000e+05  5.88052000e+05  2.32559900e+06
   2.59860000e+04  3.45030000e+04  2.26511000e+06  5.79822350e+03
   3.28554820e+07  1.13037629e+00  8.31527044e+04  6.57669906e-04
   8.73223458e-04  5.88577109e-02  5.73268176e-02  1.02400000e+01
   1.00000000e+00  1.00000000e+00]]

In [68]:
#create third column
dmf['k4_labels'] = k4_labels
dmf.k4_labels.value_counts()

2    29
0    18
1     3
3     1
Name: k4_labels, dtype: int64

In [82]:
# Compute the silouette score and visually examine the results of the 8 clusters.
round(silhouette_score(X, k4_labels),2)

0.55

### Clustering Kmeans -  n_clusters = 6

In [70]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=6)
model.fit(X)

# Get the labels and centroids for our first clustering model
k6_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k6_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [1 4 1 4 3 1 1 4 4 0 2 4 4 2 1 4 4 1 1 4 1 2 2 1 4 1 4 4 4 4 2 4 5 2 4 2 1
 1 2 4 1 4 1 0 4 4 1 1 4 1 4]
Location of centroids:
[[ 4.32987000e+05  2.52368090e+07  8.38945870e+01  1.69000000e+01
   1.88000000e+01  4.92500000e+01  7.65000000e+01  1.55500000e+01
   3.30500000e+01  8.67000000e+01  1.35000000e+01  1.96500000e+01
   6.16305000e+04  1.31500000e+01  1.58000000e+01  2.83000000e+00
   6.40500000e+01  4.49000000e+02  7.20560000e+04  7.47500000e+03
   1.70600000e+03  3.26538500e+05  2.77525500e+05  1.54804950e+06
   2.48695000e+04  7.14678000e+05  8.08502000e+05  6.12645624e+03
   1.47232890e+07  1.60991940e+00  6.02560102e+04  9.88510999e-04
   2.46475698e-02  6.13762507e-02  3.57401699e-02  7.59500000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00]
 [ 1.51790529e+05  5.72369371e+06  6.12736065e+01  1.67411765e+01
   1.83882353e+01  4.92176471e+01  7.84294118e+01  1.48294118e+01
   1.04470588e+01  8.61117647e+01  1.02411765e+01  1.98235294e+01
   6.48574118e+04  1.24000000e+01  8.37647059e+00  2.62705882e+00
   6.67764706e+01  1.24235294e+02  1.70444118e+04  1.65994118e+03
   4.17647059e+02  8.85405294e+04  7.78974706e+04  3.53235882e+05
   5.34564706e+03  1.62035235e+05  1.85855000e+05  6.19100669e+03
   4.04271294e+06  1.55456512e+00  7.26631836e+04  9.49001913e-04
   2.91530308e-02  6.19144182e-02  3.18123855e-02  7.05941176e+00
   2.77555756e-17  1.17647059e+00  8.23529412e-01]
 [ 1.22386000e+05  1.05037459e+07  1.40237802e+02  1.68250000e+01
   1.78625000e+01  4.88750000e+01  7.50375000e+01  1.74500000e+01
   1.09375000e+01  8.66375000e+01  9.86250000e+00  2.09750000e+01
   6.77238750e+04  1.18875000e+01  7.65000000e+00  2.64125000e+00
   6.58625000e+01  1.74625000e+02  3.18316250e+04  2.93950000e+03
   7.84250000e+02  1.66187125e+05  1.52726250e+05  6.18497750e+05
   1.31315000e+04  2.59501125e+05  3.45865125e+05  5.77097401e+03
   8.00278162e+06  2.28385219e+00  8.06651680e+04  1.29425775e-03
   2.51859539e-02  5.84368553e-02  3.19566437e-02  8.73250000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00]
 [ 4.23967000e+05  3.95122230e+07  9.31964587e+01  1.48000000e+01
   1.87000000e+01  4.97000000e+01  6.36000000e+01  7.00000000e+00
   3.94000000e+01  9.00000000e+01  1.60000000e+01  2.19000000e+01
   8.04400000e+04  1.18000000e+01  7.70000000e+00  3.02000000e+00
   5.49000000e+01  4.61000000e+02  8.08930000e+04  8.65200000e+03
   1.98600000e+03  4.44964000e+05  5.88052000e+05  2.32559900e+06
   2.59860000e+04  3.45030000e+04  2.26511000e+06  5.79822350e+03
   3.28554820e+07  1.13037629e+00  8.31527044e+04  6.57669906e-04
   8.73223458e-04  5.88577109e-02  5.73268176e-02  1.02400000e+01
   1.00000000e+00  1.00000000e+00  3.00000000e+00]
 [ 2.20125182e+05  1.70306186e+06  2.14660583e+02  1.71318182e+01
   1.84954545e+01  4.97045455e+01  8.11863636e+01  9.24545455e+00
   1.05500000e+01  8.55909091e+01  8.86363636e+00  1.98227273e+01
   6.45864091e+04  1.19863636e+01  8.19545455e+00  2.63818182e+00
   6.63090909e+01  5.93181818e+01  5.80777273e+03  5.35181818e+02
   1.37681818e+02  2.92068636e+04  2.51954545e+04  1.19166909e+05
   1.63100000e+03  6.99624091e+04  4.75735000e+04  6.66088876e+03
   1.24502741e+06  1.44385303e+00  8.67300403e+04  9.26709257e-04
   4.09813408e-02  6.66053303e-02  2.46972803e-02  7.29454545e+00
   2.77555756e-17 -3.33066907e-16  2.00000000e+00]
 [ 1.41297000e+05  1.94535610e+07  1.37678514e+02  1.69000000e+01
   1.72000000e+01  4.86000000e+01  6.58000000e+01  1.76000000e+01
   1.93000000e+01  8.65000000e+01  1.24000000e+01  2.12000000e+01
   7.21080000e+04  1.30000000e+01  5.20000000e+00  2.71000000e+00
   5.35000000e+01  2.24000000e+02  5.47430000e+04  4.23000000e+03
   1.35700000e+03  3.58901000e+05  4.07769000e+05  9.78783000e+05
   3.79830000e+04  1.02129000e+05  8.38671000e+05  5.03138217e+03
   2.52850600e+07  3.88063544e+00  1.29976512e+05  1.95249600e-03
   5.24988715e-03  5.03138217e-02  4.31114386e-02  1.00800000e+01
   1.00000000e+00  1.00000000e+00  1.00000000e+00]]

In [71]:
#create third column
dmf['k6_labels'] = k6_labels
dmf.k6_labels.value_counts()

4    22
1    17
2     8
0     2
5     1
3     1
Name: k6_labels, dtype: int64

In [83]:
# Compute the silouette score and visually examine the results of the 8 clusters.
round(silhouette_score(X, k3_labels),2)

0.55

### Clustering Kmeans -  n_clusters = 8

In [73]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=8)
model.fit(X)

# Get the labels and centroids for our first clustering model
k8_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k8_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [6 0 3 6 4 3 6 0 0 1 7 0 0 2 3 6 6 6 6 0 3 2 7 3 6 3 0 0 6 0 7 0 5 7 0 7 6
 6 7 0 6 0 3 1 6 0 3 3 0 3 0]
Location of centroids:
[[ 2.32154750e+05  1.19493188e+06  2.88515087e+02  1.76000000e+01
   1.79000000e+01  4.97875000e+01  8.18625000e+01  7.62500000e+00
   9.95625000e+00  8.62000000e+01  8.25625000e+00  2.03625000e+01
   6.64576875e+04  1.14937500e+01  7.68125000e+00  2.60375000e+00
   6.63625000e+01  4.25625000e+01  3.74581250e+03  3.71312500e+02
   9.96250000e+01  2.21650000e+04  1.95260625e+04  7.32785000e+04
   1.02506250e+03  4.40595625e+04  2.81938750e+04  6.20228695e+03
   1.09349612e+06  1.46693997e+00  9.91139456e+04  8.73702786e-04
   3.95087544e-02  6.20228695e-02  2.16404123e-02  7.10000000e+00
   2.77555756e-17 -2.22044605e-16  2.00000000e+00  4.00000000e+00]
 [ 4.32987000e+05  2.52368090e+07  8.38945870e+01  1.69000000e+01
   1.88000000e+01  4.92500000e+01  7.65000000e+01  1.55500000e+01
   3.30500000e+01  8.67000000e+01  1.35000000e+01  1.96500000e+01
   6.16305000e+04  1.31500000e+01  1.58000000e+01  2.83000000e+00
   6.40500000e+01  4.49000000e+02  7.20560000e+04  7.47500000e+03
   1.70600000e+03  3.26538500e+05  2.77525500e+05  1.54804950e+06
   2.48695000e+04  7.14678000e+05  8.08502000e+05  6.12645624e+03
   1.47232890e+07  1.60991940e+00  6.02560102e+04  9.88510999e-04
   2.46475698e-02  6.13762507e-02  3.57401699e-02  7.59500000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00  0.00000000e+00]
 [ 8.86655000e+04  9.78216200e+06  1.68310884e+02  1.65500000e+01
   1.72000000e+01  4.88000000e+01  7.70000000e+01  1.26500000e+01
   1.49500000e+01  8.76500000e+01  9.45000000e+00  2.32000000e+01
   7.75150000e+04  1.04500000e+01  5.20000000e+00  2.69000000e+00
   6.41000000e+01  1.59500000e+02  2.89695000e+04  2.86450000e+03
   7.10500000e+02  1.72741000e+05  1.62976000e+05  6.69283500e+05
   1.52005000e+04  1.30836000e+05  5.23247000e+05  6.52294276e+03
   1.21110710e+07  2.58867440e+00  1.31785319e+05  1.61056580e-03
   1.89823639e-02  6.52294276e-02  4.46364980e-02  9.61500000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  2.00000000e+00]
 [ 1.67123100e+05  6.63944320e+06  5.79755076e+01  1.64200000e+01
   1.84900000e+01  4.94100000e+01  7.97500000e+01  1.28000000e+01
   1.16700000e+01  8.73200000e+01  9.32000000e+00  2.11300000e+01
   6.90907000e+04  1.09600000e+01  7.92000000e+00  2.63300000e+00
   6.69200000e+01  1.30300000e+02  1.84266000e+04  1.80460000e+03
   4.61600000e+02  1.02238200e+05  8.99352000e+04  4.16518800e+05
   6.06810000e+03  1.82941300e+05  2.27509400e+05  6.39262467e+03
   4.66747030e+06  1.46248307e+00  7.22787727e+04  9.26142131e-04
   2.91284612e-02  6.39336440e-02  3.38790407e-02  6.66100000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  1.00000000e+00]
 [ 4.23967000e+05  3.95122230e+07  9.31964587e+01  1.48000000e+01
   1.87000000e+01  4.97000000e+01  6.36000000e+01  7.00000000e+00
   3.94000000e+01  9.00000000e+01  1.60000000e+01  2.19000000e+01
   8.04400000e+04  1.18000000e+01  7.70000000e+00  3.02000000e+00
   5.49000000e+01  4.61000000e+02  8.08930000e+04  8.65200000e+03
   1.98600000e+03  4.44964000e+05  5.88052000e+05  2.32559900e+06
   2.59860000e+04  3.45030000e+04  2.26511000e+06  5.79822350e+03
   3.28554820e+07  1.13037629e+00  8.31527044e+04  6.57669906e-04
   8.73223458e-04  5.88577109e-02  5.73268176e-02  1.02400000e+01
   1.00000000e+00  1.00000000e+00  3.00000000e+00  3.00000000e+00]
 [ 1.41297000e+05  1.94535610e+07  1.37678514e+02  1.69000000e+01
   1.72000000e+01  4.86000000e+01  6.58000000e+01  1.76000000e+01
   1.93000000e+01  8.65000000e+01  1.24000000e+01  2.12000000e+01
   7.21080000e+04  1.30000000e+01  5.20000000e+00  2.71000000e+00
   5.35000000e+01  2.24000000e+02  5.47430000e+04  4.23000000e+03
   1.35700000e+03  3.58901000e+05  4.07769000e+05  9.78783000e+05
   3.79830000e+04  1.02129000e+05  8.38671000e+05  5.03138217e+03
   2.52850600e+07  3.88063544e+00  1.29976512e+05  1.95249600e-03
   5.24988715e-03  5.03138217e-02  4.31114386e-02  1.00800000e+01
   1.00000000e+00  1.00000000e+00  1.00000000e+00  5.00000000e+00]
 [ 1.56729692e+05  3.78898554e+06  4.37067440e+01  1.65923077e+01
   1.90923077e+01  4.91923077e+01  7.78538462e+01  1.58076923e+01
   1.02846154e+01  8.41923077e+01  1.10615385e+01  1.81538462e+01
   5.91728462e+04  1.39230769e+01  9.27692308e+00  2.67000000e+00
   6.63846154e+01  1.10230769e+02  1.33328462e+04  1.23123077e+03
   3.01461538e+02  5.92860000e+04  5.12913846e+04  2.53002923e+05
   3.82123077e+03  1.35338923e+05  1.13842769e+05  6.81721758e+03
   2.45739092e+06  1.54588490e+00  6.42095503e+04  1.02153618e-03
   3.64435644e-02  6.81661557e-02  3.07010551e-02  7.71384615e+00
   1.38777878e-17 -1.11022302e-16  2.00000000e+00  2.38461538e+00]
 [ 1.33626167e+05  1.07442738e+07  1.30880108e+02  1.69166667e+01
   1.80833333e+01  4.89000000e+01  7.43833333e+01  1.90500000e+01
   9.60000000e+00  8.63000000e+01  1.00000000e+01  2.02333333e+01
   6.44601667e+04  1.23666667e+01  8.46666667e+00  2.62500000e+00
   6.64500000e+01  1.79666667e+02  3.27856667e+04  2.96450000e+03
   8.08833333e+02  1.64002500e+05  1.49309667e+05  6.01569167e+05
   1.24418333e+04  3.02389500e+05  2.86737833e+05  5.52031776e+03
   6.63335183e+06  2.18224479e+00  6.36251177e+04  1.18882174e-03
   2.72538172e-02  5.61726645e-02  2.77300256e-02  8.43833333e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  2.00000000e+00]]

In [74]:
#create third column
dmf['k8_labels'] = k8_labels
dmf.k8_labels.value_counts()

0    16
6    13
3    10
7     6
2     2
1     2
5     1
4     1
Name: k8_labels, dtype: int64

In [84]:
# Compute the silouette score and visually examine the results of the 8 clusters.
round(silhouette_score(X, k8_labels),2)

0.44

### Clustering Kmeans -  n_clusters = 10

In [76]:
# Data for clustering
X = dmf.drop(columns = ['Name', 'Postal Code'])

#fit the data
model = KMeans(n_clusters=10)
model.fit(X)

# Get the labels and centroids for our first clustering model
k10_labels = model.labels_
centroids = model.cluster_centers_

print("Predicted clusters to points: ", k10_labels)
print("Location of centroids: ")
print(centroids)

Predicted clusters to points:  [0 5 7 0 2 7 0 5 5 6 3 5 5 8 7 5 5 0 0 5 7 9 3 7 5 7 5 5 0 5 3 5 4 3 5 3 0
 0 3 5 0 5 7 1 0 5 7 7 5 7 5]
Location of centroids:
[[ 1.55320200e+05  4.02122790e+06  5.09142774e+01  1.65400000e+01
   1.89600000e+01  4.91900000e+01  7.73700000e+01  1.54000000e+01
   1.12200000e+01  8.47700000e+01  1.13500000e+01  1.80900000e+01
   5.99677000e+04  1.38800000e+01  9.34000000e+00  2.69300000e+00
   6.58700000e+01  1.04100000e+02  1.34071000e+04  1.28180000e+03
   3.14200000e+02  6.06479000e+04  5.67789000e+04  2.56630300e+05
   3.82620000e+03  1.34887200e+05  1.17916900e+05  6.47053446e+03
   2.84301620e+06  1.52835346e+00  7.18093700e+04  9.49912605e-04
   3.40347592e-02  6.47053446e-02  2.97206727e-02  8.06900000e+00
   0.00000000e+00  0.00000000e+00  2.00000000e+00  1.90000000e+00
   6.00000000e+00]
 [ 6.95662000e+05  2.89958810e+07  4.16809902e+01  1.29000000e+01
   2.12000000e+01  4.96000000e+01  7.59000000e+01  1.35000000e+01
   3.97000000e+01  8.64000000e+01  1.54000000e+01  2.00000000e+01
   6.40340000e+04  1.36000000e+01  1.84000000e+01  2.99000000e+00
   6.19000000e+01  6.27000000e+02  8.19110000e+04  8.71900000e+03
   1.92100000e+03  3.36520000e+05  2.71565000e+05  1.77278400e+06
   2.80660000e+04  1.42935600e+06  3.15362000e+05  6.09157901e+03
   1.37429790e+07  1.58205793e+00  4.73963147e+04  9.67930583e-04
   4.92951395e-02  6.11391666e-02  1.08760965e-02  7.48000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00]
 [ 4.23967000e+05  3.95122230e+07  9.31964587e+01  1.48000000e+01
   1.87000000e+01  4.97000000e+01  6.36000000e+01  7.00000000e+00
   3.94000000e+01  9.00000000e+01  1.60000000e+01  2.19000000e+01
   8.04400000e+04  1.18000000e+01  7.70000000e+00  3.02000000e+00
   5.49000000e+01  4.61000000e+02  8.08930000e+04  8.65200000e+03
   1.98600000e+03  4.44964000e+05  5.88052000e+05  2.32559900e+06
   2.59860000e+04  3.45030000e+04  2.26511000e+06  5.79822350e+03
   3.28554820e+07  1.13037629e+00  8.31527044e+04  6.57669906e-04
   8.73223458e-04  5.88577109e-02  5.73268176e-02  1.02400000e+01
   1.00000000e+00  1.00000000e+00  3.00000000e+00  3.00000000e+00
   4.00000000e+00]
 [ 1.33626167e+05  1.07442738e+07  1.30880108e+02  1.69166667e+01
   1.80833333e+01  4.89000000e+01  7.43833333e+01  1.90500000e+01
   9.60000000e+00  8.63000000e+01  1.00000000e+01  2.02333333e+01
   6.44601667e+04  1.23666667e+01  8.46666667e+00  2.62500000e+00
   6.64500000e+01  1.79666667e+02  3.27856667e+04  2.96450000e+03
   8.08833333e+02  1.64002500e+05  1.49309667e+05  6.01569167e+05
   1.24418333e+04  3.02389500e+05  2.86737833e+05  5.52031776e+03
   6.63335183e+06  2.18224479e+00  6.36251177e+04  1.18882174e-03
   2.72538172e-02  5.61726645e-02  2.77300256e-02  8.43833333e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  2.00000000e+00
   7.00000000e+00]
 [ 1.41297000e+05  1.94535610e+07  1.37678514e+02  1.69000000e+01
   1.72000000e+01  4.86000000e+01  6.58000000e+01  1.76000000e+01
   1.93000000e+01  8.65000000e+01  1.24000000e+01  2.12000000e+01
   7.21080000e+04  1.30000000e+01  5.20000000e+00  2.71000000e+00
   5.35000000e+01  2.24000000e+02  5.47430000e+04  4.23000000e+03
   1.35700000e+03  3.58901000e+05  4.07769000e+05  9.78783000e+05
   3.79830000e+04  1.02129000e+05  8.38671000e+05  5.03138217e+03
   2.52850600e+07  3.88063544e+00  1.29976512e+05  1.95249600e-03
   5.24988715e-03  5.03138217e-02  4.31114386e-02  1.00800000e+01
   1.00000000e+00  1.00000000e+00  1.00000000e+00  5.00000000e+00
   5.00000000e+00]
 [ 2.20987368e+05  1.48228647e+06  2.46067699e+02  1.74684211e+01
   1.81578947e+01  4.96947368e+01  8.14842105e+01  9.13157895e+00
   9.51578947e+00  8.55789474e+01  8.54736842e+00  2.00473684e+01
   6.48891053e+04  1.19000000e+01  7.90000000e+00  2.60210526e+00
   6.66368421e+01  5.64736842e+01  5.22047368e+03  4.80473684e+02
   1.24789474e+02  2.73094211e+04  2.16534737e+04  9.97468947e+04
   1.46394737e+03  5.87098421e+04  3.95731053e+04  6.48184606e+03
   1.10588726e+06  1.48863203e+00  8.96028201e+04  9.34741516e-04
   4.02925693e-02  6.48143416e-02  2.35870308e-02  7.01000000e+00
   4.16333634e-17 -2.22044605e-16  2.00000000e+00  4.00000000e+00
   9.47368421e-01]
 [ 1.70312000e+05  2.14777370e+07  1.26108184e+02  2.09000000e+01
   1.64000000e+01  4.89000000e+01  7.71000000e+01  1.76000000e+01
   2.64000000e+01  8.70000000e+01  1.16000000e+01  1.93000000e+01
   5.92270000e+04  1.27000000e+01  1.32000000e+01  2.67000000e+00
   6.62000000e+01  2.71000000e+02  6.22010000e+04  6.23100000e+03
   1.49100000e+03  3.16557000e+05  2.83486000e+05  1.32331500e+06
   2.16730000e+04  0.00000000e+00  1.30164200e+06  6.16133348e+03
   1.57035990e+07  1.63778088e+00  7.31157058e+04  1.00909141e-03
   0.00000000e+00  6.16133348e-02  6.06042434e-02  7.71000000e+00
   1.00000000e+00  1.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00]
 [ 1.67123100e+05  6.63944320e+06  5.79755076e+01  1.64200000e+01
   1.84900000e+01  4.94100000e+01  7.97500000e+01  1.28000000e+01
   1.16700000e+01  8.73200000e+01  9.32000000e+00  2.11300000e+01
   6.90907000e+04  1.09600000e+01  7.92000000e+00  2.63300000e+00
   6.69200000e+01  1.30300000e+02  1.84266000e+04  1.80460000e+03
   4.61600000e+02  1.02238200e+05  8.99352000e+04  4.16518800e+05
   6.06810000e+03  1.82941300e+05  2.27509400e+05  6.39262467e+03
   4.66747030e+06  1.46248307e+00  7.22787727e+04  9.26142131e-04
   2.91284612e-02  6.39336440e-02  3.38790407e-02  6.66100000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  1.00000000e+00
   3.00000000e+00]
 [ 1.49995000e+05  1.26718210e+07  8.44816227e+01  1.61000000e+01
   1.83000000e+01  4.91000000e+01  7.38000000e+01  1.54000000e+01
   1.75000000e+01  8.62000000e+01  1.02000000e+01  2.17000000e+01
   6.91870000e+04  1.15000000e+01  7.40000000e+00  2.70000000e+00
   6.60000000e+01  2.14000000e+02  3.78830000e+04  3.74300000e+03
   9.29000000e+02  2.07001000e+05  1.70660000e+05  9.63389000e+05
   1.79780000e+04  0.00000000e+00  9.45411000e+05  7.60260897e+03
   1.32774430e+07  1.86612054e+00  1.04779282e+05  1.41873847e-03
   0.00000000e+00  7.60260897e-02  7.46073512e-02  9.41000000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  2.00000000e+00
   2.00000000e+00]
 [ 2.73360000e+04  6.89250300e+06  2.52140145e+02  1.70000000e+01
   1.61000000e+01  4.85000000e+01  8.02000000e+01  9.90000000e+00
   1.24000000e+01  8.91000000e+01  8.70000000e+00  2.47000000e+01
   8.58430000e+04  9.40000000e+00  3.00000000e+00  2.68000000e+00
   6.22000000e+01  1.05000000e+02  2.00560000e+04  1.98600000e+03
   4.92000000e+02  1.38481000e+05  1.55292000e+05  3.75178000e+05
   1.24230000e+04  2.61672000e+05  1.01083000e+05  5.44327656e+03
   1.09446990e+07  3.31122827e+00  1.58791356e+05  1.80239312e-03
   3.79647278e-02  5.44327656e-02  1.46656447e-02  9.82000000e+00
   0.00000000e+00  2.00000000e+00  0.00000000e+00  2.00000000e+00
   2.00000000e+00]]

In [77]:
#create third column
dmf['k10_labels'] = k10_labels
dmf.k10_labels.value_counts()

5    19
7    10
0    10
3     6
9     1
8     1
6     1
4     1
2     1
1     1
Name: k10_labels, dtype: int64

In [85]:
# Compute the silouette score and visually examine the results of the 8 clusters.
round(silhouette_score(X, k10_labels),2)

0.42

### Result

In [90]:
dmf[['Name','k2_labels']].sort_values('k2_labels')

                    Name  k2_labels
0                Alabama          0
26               Montana          0
27              Nebraska          0
28                Nevada          0
29         New Hampshire          0
30            New Jersey          0
31            New Mexico          0
33        North Carolina          0
34          North Dakota          0
35                  Ohio          0
36              Oklahoma          0
37                Oregon          0
38          Pennsylvania          0
39          Rhode Island          0
40        South Carolina          0
41          South Dakota          0
42             Tennessee          0
44                  Utah          0
45               Vermont          0
46              Virginia          0
47            Washington          0
48         West Virginia          0
49             Wisconsin          0
24           Mississippi          0
25              Missouri          0
22              Michigan          0
1                 Alaska          0
2                Arizona          0
3               Arkansas          0
5               Colorado          0
6            Connecticut          0
7               Delaware          0
8   District of Columbia          0
10               Georgia          0
23             Minnesota          0
12                 Idaho          0
11                Hawaii          0
14               Indiana          0
15                  Iowa          0
16                Kansas          0
17              Kentucky          0
18             Louisiana          0
19                 Maine          0
20              Maryland          0
21         Massachusetts          0
13              Illinois          0
50               Wyoming          0
9                Florida          1
32              New York          1
43                 Texas          1
4             California          1

In [91]:
dmf[['Name','k3_labels']].sort_values('k3_labels')

                    Name  k3_labels
0                Alabama          0
24           Mississippi          0
26               Montana          0
27              Nebraska          0
28                Nevada          0
29         New Hampshire          0
31            New Mexico          0
34          North Dakota          0
36              Oklahoma          0
37                Oregon          0
39          Rhode Island          0
40        South Carolina          0
41          South Dakota          0
44                  Utah          0
45               Vermont          0
48         West Virginia          0
19                 Maine          0
18             Louisiana          0
50               Wyoming          0
16                Kansas          0
1                 Alaska          0
3               Arkansas          0
15                  Iowa          0
6            Connecticut          0
7               Delaware          0
8   District of Columbia          0
12                 Idaho          0
11                Hawaii          0
17              Kentucky          0
43                 Texas          1
4             California          1
32              New York          1
9                Florida          1
33        North Carolina          2
20              Maryland          2
47            Washington          2
46              Virginia          2
2                Arizona          2
21         Massachusetts          2
22              Michigan          2
42             Tennessee          2
23             Minnesota          2
5               Colorado          2
49             Wisconsin          2
38          Pennsylvania          2
14               Indiana          2
13              Illinois          2
35                  Ohio          2
30            New Jersey          2
10               Georgia          2
25              Missouri          2

In [92]:
dmf[['Name','k4_labels']].sort_values('k4_labels')

                    Name  k4_labels
25              Missouri          0
33        North Carolina          0
49             Wisconsin          0
35                  Ohio          0
23             Minnesota          0
22              Michigan          0
21         Massachusetts          0
20              Maryland          0
38          Pennsylvania          0
14               Indiana          0
13              Illinois          0
30            New Jersey          0
10               Georgia          0
2                Arizona          0
47            Washington          0
42             Tennessee          0
5               Colorado          0
46              Virginia          0
9                Florida          1
32              New York          1
43                 Texas          1
41          South Dakota          2
48         West Virginia          2
34          North Dakota          2
45               Vermont          2
36              Oklahoma          2
37                Oregon          2
39          Rhode Island          2
31            New Mexico          2
44                  Utah          2
40        South Carolina          2
0                Alabama          2
28                Nevada          2
1                 Alaska          2
3               Arkansas          2
6            Connecticut          2
7               Delaware          2
8   District of Columbia          2
11                Hawaii          2
29         New Hampshire          2
12                 Idaho          2
16                Kansas          2
17              Kentucky          2
18             Louisiana          2
19                 Maine          2
24           Mississippi          2
26               Montana          2
27              Nebraska          2
15                  Iowa          2
50               Wyoming          2
4             California          3