In [3]:
import pandas as pd

In [4]:
# https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36
case_n_death = pd.read_csv('data/yun_data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

In [5]:
#https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/b7pe-5nws
moderna = pd.read_csv('yun_data/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv')

In [7]:
#https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/saz5-9hgg
pfizer = pd.read_csv('yun_data/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv')

In [ ]:
#https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku
sex_age = pd.read_csv('yun_data/Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv')

In [10]:
#https://data.cdc.gov/NCHS/Deaths-involving-coronavirus-disease-2019-COVID-19/ks3g-spdg
race_death = pd.read_csv('yun_data/Deaths_involving_coronavirus_disease_2019__COVID-19__by_race_and_Hispanic_origin_group_and_age__by_state.csv')

In [14]:
#https://data.cdc.gov/NCHS/AH-Provisional-COVID-19-Deaths-by-Race-and-Educati/i6ej-9eac
education = pd.read_csv('yun_data/AH_Provisional_COVID-19_Deaths_by_Race_and_Educational_Attainment.csv')

In [6]:
case_n_death

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,10/15/2020,DC,16166,NaN,NaN,34,0.0,638,NaN,NaN,0,0.0,10/16/2020 01:33:55 PM,NaN,NaN
1,12/08/2020,NM,109947,NaN,NaN,0,0.0,1756,NaN,NaN,0,0.0,12/09/2020 02:45:40 PM,NaN,Not agree
2,12/08/2020,OK,205999,171497.0,34502.0,0,0.0,1752,1680.0,72.0,0,0.0,12/09/2020 02:45:40 PM,Agree,Agree
3,04/01/2020,CA,8155,NaN,NaN,24,NaN,172,NaN,NaN,0,NaN,03/31/2020 04:22:39 PM,Not agree,Not agree
4,08/29/2020,SD,12942,NaN,NaN,425,0.0,167,165.0,2.0,2,0.0,08/30/2020 02:49:52 PM,NaN,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23455,03/01/2020,WY,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
23456,07/12/2020,DC,10847,NaN,NaN,46,0.0,568,NaN,NaN,0,0.0,07/13/2020 03:19:34 PM,NaN,NaN
23457,03/05/2020,MI,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
23458,02/03/2021,CA,3281271,NaN,NaN,10501,0.0,41811,NaN,NaN,481,0.0,02/04/2021 02:53:58 PM,Not agree,Not agree
23459,03/31/2020,IA,497,NaN,NaN,73,NaN,7,NaN,NaN,1,NaN,03/30/2020 04:22:39 PM,Not agree,Not agree

In [6]:
moderna.head()

,Jurisdiction,HHS Region,Doses allocated week of 12/21,Second Dose Shipment (28 days later) week of 12/21,Doses allocated week of 12/28,Second Dose Shipment (28 days later) week of 12/28,Doses allocated for distribution week of 01/04,Second dose shipment for distribution (28 days later) week of 01/04,Doses allocated for distribution week of 01/10,Second dose shipment for distribution (28 days later) week of 01/10,...,Doses allocated for distribution week of 02/01,Second dose shipment for distribution (28 days later) week of 02/01,Doses allocated for distribution week of 02/08,Second dose shipment for distribution (28 days later) week of 02/08,Doses allocated for distribution week of 02/15,Second dose shipment for distribution (28 days later) week of 02/15,Doses allocated for distribution week of 02/22,Second dose shipment for distribution (28 days later) week of 02/22,"Total Moderna Allocation ""First Dose"" Shipments","Total Allocation Moderna""Second Dose"" Shipments"
0,Connecticut,Region 1,"63,300","63,300","21,900","21,900","21,800","21,800","21,900","21,900",...,"30,300","30,300","33,100","33,100","35,800","35,800","35,800","35,800","309,900","309,900"
1,Maine,Region 1,"24,200","24,200","8,400","8,400","8,300","8,300","8,400","8,400",...,"11,600","11,600","12,700","12,700","13,700","13,700","13,700","13,700","118,600","118,600"
2,Massachusetts,Region 1,"121,900","121,900","42,100","42,100","42,000","42,000","42,100","42,100",...,"58,400","58,400","63,800","63,800","69,000","69,000","69,000","69,000","596,900","596,900"
3,New Hampshire,Region 1,"24,200","24,200","8,400","8,400","8,400","8,400","8,400","8,400",...,"11,600","11,600","12,700","12,700","13,700","13,700","13,700","13,700","118,700","118,700"
4,Rhode Island,Region 1,"19,000","19,000","6,600","6,600","6,600","6,600","6,600","6,600",...,"9,100","9,100","10,000","10,000","10,800","10,800","10,800","10,800","93,300","93,300"

In [8]:
pfizer.head()

,Jurisdiction,HHS Region,Doses allocated week of 12/14,Second Dose Shipment (21 days later) week of 12/14,Doses allocated week of 12/21,Second Dose Shipment (21 days later) week of 12/21,Doses allocated week of 12/28,Second Dose Shipment (21 days later) week of 12/28,Doses allocated for distribution week of 01/04,Second dose shipment for distribution (21 days later) week of 01/04,...,Doses allocated for distribution week of 02/01,Second dose shipment for distribution (21 days later) week of 02/21,Doses allocated for distribution week of 02/08,Second dose shipment for distribution (21 days later) week of 02/08,Doses allocated for distribution week of 02/15,Second dose shipment for distribution (21 days later) week of 02/15,Doses allocated for distribution week of 02/22,Second dose shipment for distribution (21 days later) week of 02/22,"Total Pfizer Allocation ""First Dose"" Shipments","Total Allocation Pfizer ""Second Dose"" Shipments"
0,Connecticut,Region 1,"31,200","31,200","22,425","22,425","28,275","28,275","22,425","22,425",...,"23,400","23,400","23,400","23,400","23,400","23,400","36,270","36,270","280,020","280,020"
1,Maine,Region 1,"12,675","12,675","8,775","8,775","10,725","10,725","8,775","8,775",...,"8,775","8,775","8,775","8,775","8,775","8,775","14,040","14,040","107,640","107,640"
2,Massachusetts,Region 1,"59,475","59,475","42,900","42,900","54,600","54,600","42,900","42,900",...,"43,875","43,875","43,875","43,875","43,875","43,875","70,200","70,200","532,350","532,350"
3,New Hampshire,Region 1,"12,675","12,675","8,775","8,775","10,725","10,725","8,775","8,775",...,"8,775","8,775","8,775","8,775","8,775","8,775","14,040","14,040","107,640","107,640"
4,Rhode Island,Region 1,"9,750","9,750","6,825","6,825","8,775","8,775","6,825","6,825",...,"6,825","6,825","6,825","6,825","6,825","6,825","11,700","11,700","84,825","84,825"

In [12]:
race_death

,Data as of,Start Date,End Date,State,Age group,Race and Hispanic Origin Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,02/10/2021,01/01/2020,02/06/2021,United States,All Ages,Total Deaths,443107.0,3587923.0,389232.0,210828.0,8844.0,629180.0,NaN
1,02/10/2021,01/01/2020,02/06/2021,United States,All Ages,Non-Hispanic White,272068.0,2637865.0,254513.0,121289.0,5916.0,410853.0,NaN
2,02/10/2021,01/01/2020,02/06/2021,United States,Under 1 year,Non-Hispanic White,11.0,7901.0,86.0,1.0,10.0,106.0,NaN
3,02/10/2021,01/01/2020,02/06/2021,United States,0-17 years,Non-Hispanic White,48.0,14604.0,253.0,10.0,83.0,374.0,NaN
4,02/10/2021,01/01/2020,02/06/2021,United States,1-4 years,Non-Hispanic White,8.0,1562.0,56.0,1.0,25.0,88.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6484,02/10/2021,01/01/2020,02/06/2021,Puerto Rico,50-64 years,Unknown,NaN,32.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
6485,02/10/2021,01/01/2020,02/06/2021,Puerto Rico,55-64 years,Unknown,NaN,27.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
6486,02/10/2021,01/01/2020,02/06/2021,Puerto Rico,65-74 years,Unknown,NaN,23.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
6487,02/10/2021,01/01/2020,02/06/2021,Puerto Rico,75-84 years,Unknown,NaN,16.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
6488,02/10/2021,01/01/2020,02/06/2021,Puerto Rico,85 years and over,Unknown,0.0,15.0,NaN,0.0,0.0,NaN,One or more data cells have counts between 1-9...

In [15]:
education

,Data as of,Start Date,End Date,Education Level,Race or Hispanic Origin,COVID-19 Deaths,Total Deaths
0,02/01/2021,01/01/2020,01/30/2021,8th grade or less,Hispanic,29157,106285
1,02/01/2021,01/01/2020,01/30/2021,8th grade or less,Non-Hispanic American Indian or Alaska Native,706,3085
2,02/01/2021,01/01/2020,01/30/2021,8th grade or less,Non-Hispanic Asian,2610,16283
3,02/01/2021,01/01/2020,01/30/2021,8th grade or less,Non-Hispanic Black,5699,41437
4,02/01/2021,01/01/2020,01/30/2021,8th grade or less,Non-Hispanic More than one race,103,1676
...,...,...,...,...,...,...,...
67,02/01/2021,01/01/2020,01/30/2021,Unknown,Non-Hispanic Black,1772,10868
68,02/01/2021,01/01/2020,01/30/2021,Unknown,Non-Hispanic More than one race,34,289
69,02/01/2021,01/01/2020,01/30/2021,Unknown,Non-Hispanic Native Hawaiian or Other Pacific ...,26,103
70,02/01/2021,01/01/2020,01/30/2021,Unknown,Non-Hispanic White,4480,37739
71,02/01/2021,01/01/2020,01/30/2021,Unknown,Unknown,1169,6278

In [7]:
#https://github.com/nytimes/covid-19-data
covid = pd.read_csv('data/yun_data/us-states.csv')

In [8]:
covid

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
19314  2021-02-16       Virginia    51  553308    7037
19315  2021-02-16     Washington    53  333185    4777
19316  2021-02-16  West Virginia    54  128117    2216
19317  2021-02-16      Wisconsin    55  608420    6792
19318  2021-02-16        Wyoming    56   53351     662

[19319 rows x 5 columns]

In [12]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19319 entries, 0 to 19318
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    19319 non-null  object
 1   state   19319 non-null  object
 2   fips    19319 non-null  int64
 3   cases   19319 non-null  int64
 4   deaths  19319 non-null  int64
dtypes: int64(3), object(2)
memory usage: 754.8+ KB

In [ ]:
housing = pd.read_csv('data/Socioeconomic Data/')